<!-- TODO: make it a reusable directive (don't worry about style) -->
<div class="pagination">
    <div>
        Items per page
        <select>
            <!-- select how many items should be displayed per page -->
            <option>10</option>
            <option selected="selected">20</option> <!-- default option on first load should be 20 -->
            <option>30</option>
            <option>all</option> <!-- disregard pagination: show all the items -->
        </select>
    </div>
    <div>
        <button>&lt;&lt;</button> <!-- << = Fist Page  -->
        <button>&lt;</button> <!-- < = Previous Page -->

        <!-- Ng-model Gets the value of the current page -->
        Page <input ng-model="currentPage" type="number" min="1" /> of {{ totalPages }}<!-- number of pages -->

        <button>&gt;</button> <!-- > = Next Page -->
        <button>&gt;&gt;</button> <!-- >> = Last Page -->
    </div>
    <div>
        <span>{{ totalItems }} items</span> <!-- total number of items -->
    </div>

</div>