<!-- TODO: make it a reusable directive (don't worry about style) -->
<div class="pagination">
    <div>
        Items per page 
        <select ng-model="itemsPerPage" ng-change="changedItemsPerPage()">
            <!-- select how many items should be displayed per page -->
            <option value="10">10</option>
            <option value="20" selected="selected">20</option> <!-- Default option on first load is 20 -->
            <option value="30">30</option>
            <!-- 0 == All Items -->
            <option value="0">All</option> <!-- Disregard pagination: show all the items -->
        </select>
    </div>
    <div>
        <button ng-click="firstPage()" ng-disabled="currentPage  <= 1">&lt;&lt;</button> <!-- << = Fist Page  -->
        <button ng-click="previousPage()" ng-disabled="currentPage  <= 1">&lt;</button> <!-- < = Previous Page -->
  
        <!-- Ng-model Gets the value of the current page & Ng-blur updates the page when the value is changed-->
        Page <input ng-model="currentPage" type="number" ng-blur="changedCurrentPage()" min="1" max="{{ totalPages }}"/> of {{ totalPages }} <!-- number of pages -->

        <button ng-click="nextPage()" ng-disabled="currentPage >= totalPages">&gt;</button> <!-- > = Next Page -->
        <button ng-click="lastPage()" ng-disabled="currentPage >= totalPages">&gt;&gt;</button> <!-- >> = Last Page -->
    </div>
    <div>
        <span>{{ totalItems }} items</span> <!-- total number of items -->
    </div>

</div>